<footer>
  <div class="bg-[#EDEDED] h-auto w-full">
      <div class="container mx-auto lg:px-14 px-5 font-sans leading-9 py-5">
          <div class="flex lg:flex-row flex-col justify-between  text-[#424F64] gap-5">
              <div>
                  <p class="sm:text-2xl text-lg font-semibold font-sans tracking-wide py-3">HỖ TRỢ</p>
                  <hr class="border-[#424F64] "/>
                  <p>Hotline: 0931 836 836<br/> Hỗ trợ khách hàng: cskh@gofa.vn<br/> Liên hệ hợp tác: support@gofa.vn<br/> Cơ chế giải quyết tranh chấp, khiếu nại<br/> Quy định đăng tin</p>
              </div>
              <div>
                  <p class="sm:text-2xl text-lg font-semibold font-sans tracking-wide py-3">GIỚI THIỆU</p>
                  <hr class="border-[#424F64] "/>
                  <p>Về chúng tôi<br/> Điều khoản hoạt động website<br/> Trang thông tin dành cho chủ khách sạn<br/> Cơ hội nghề nghiệp<br/> Tạp chí du lịch</p>
              </div>
              <div>
                  <p class="sm:text-2xl text-lg font-semibold font-sans tracking-wide py-3">TẢI ỨNG DỤNG</p>
                  <hr class="border-[#424F64] "/>
                  <div class="flex gap-10 py-8">
                          <img src="_content/GoStay.Seli/images/imgHomePage/CHplay.png" alt="">
                          <img src="_content/GoStay.Seli/images/imgHomePage/Apple.png" alt="">            
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <div class="bg-[#052E4A] h-[450px] w-full">
      <div class="grid place-items-center sm:py-14 py-5 text-[#DBDBDB] text-lg font-sans tracking-wide">
          <p>Đối tác thanh toán - đặt</p>
          <p>phòng linh hoạt</p>
          <div class="sm:flex sm:flex-row grid grid-cols-3 place-items-center gap-4 py-5">
              <img src="_content/GoStay.Seli/images/imgHomePage/ShopeePay.png" alt=""/>
              <img src="_content/GoStay.Seli/images/imgHomePage/ZaloPay.png" alt=""/>
              <img src="_content/GoStay.Seli/images/imgHomePage/Momo.png" alt=""/>
              <img src="_content/GoStay.Seli/images/imgHomePage/MasterCard.png" alt=""/>
              <img src="_content/GoStay.Seli/images/imgHomePage/Visa.png" alt=""/>
              <img src="_content/GoStay.Seli/images/imgHomePage/Maestro.png" alt=""/>
          </div>
          <p class="py-5">Mọi nội dung tại đây 2005-2022 Công ty TNHH GOFA. Bảo Lưu Mọi Quyền</p>
          <p class="pt-2">
              Gofatravel.com là thành viên của Tập đoàn Booking Holdings, nhà cung cấp dịch vụ khách sạn trực tuyến & <br/> 
          </p>
          <p>các dịch vụ có liên quan hàng đầu thế giới.</p>
      </div>
  </div>  
</footer>

