

<div class="w-full h-[85px] bg-[url('images/imgHomePage/navListHome.png')] bg-no-repeat bg-cover">
    <div class="grid content-center h-[85px] shadow-sm font-sans">
        <div class="container mx-auto lg:px-12 px-5">
            <LayoutLogin></LayoutLogin>
        </div>
    </div>
</div>

@code {
    
}