.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

/*slide img homepage*/
.layout-slide-img > .slick-dotted.slick-slider {
    margin-bottom: 0;
    color: red;
}
.layout-slick-dotted > .slick-dots {
    position: absolute;
    bottom: 5px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
   
    list-style: none;
    text-align: center;
}
.layout-slick-dotted > .slick-dots li button:before {
    font-size: 7px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .5;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.layout-slick-dotted > .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
    font-size: 10px;
}
.layout-slick-dotted > .slick-dots li {
    position: relative;
    display: inline-block;
    width: 3px;
    height: 3px;
    padding: 0;
    cursor: pointer;
}


/*time picker css*/
.drp-calendar {
    max-width: none !important;
}
.drp-calendar.left {
    clear: none !important;
    display: flex !important;
}
.calendar-time {
    text-align: center;
    margin: 4px auto 0 auto;
    line-height: 30px;
    position: relative;
    padding: 0 20px;
}