<section>
    <div class="flex justify-between tracking-wide">
        <div class=" w-[400px] text-2xl font-bold ">CHÍNH SÁCH KHÁCH SẠN</div>
        <div class="sm:grid hidden content-end w-full mb-2">
            <hr class="border-[#A0A4B8]"/>
        </div>
    </div>
    
    <div class="flex flex-col gap-5 my-5 text-[#5D7293]">
        <div class="flex gap-5">
            <div class="grid place-items-center bg-white rounded-lg py-1 px-14 shadow-md">
                <p class="text-sm leading-7">Nhận phòng</p>
                <p class="text-lg font-medium">Từ 8:00</p>
            </div>
            <div class="grid place-items-center bg-white rounded-lg py-1 px-14 shadow-md">
                <p class="text-sm leading-7">Nhận phòng</p>
                <p class="text-lg font-medium">Đến 22:00</p>
            </div>
        </div>
        <div>
            <p class="text-[#424F64] text-xl leading-10 font-bold">Chính sách chung</p>
            <div class="leading-8  pl-10">
                <p>• Không cho phép hút thuốc</p>
                <p>• Không cho phép thú cưng</p>
                <p>• Không cho phép tổ chức tiệc / sự kiện</p>
                <p>• Hạn chế người Việt Nam và người nước ngoài check-in cùng 1 phòng, nếu không xuất trình giấy đăng ký kết hôn</p>
                <p>• Hủy phòng miễn phí 1 tiếng trước khi nhận phòng.</p>
            </div>
        </div>
    </div>

</section>

@code {
    
}