@inject IJSRuntime JS

<section class="flex-col py-6 font-sans mt-5 tracking-wide">
    <div class="flex justify-between">
        <p class="text-[#FF0F00] md:w-[450px] w-full xl:text-2xl text-lg font-bold ">ƯU ĐÃI TỐT NHẤT HÔM NAY</p>
        <div class="sm:grid hidden content-end w-full mb-2 ">
            <hr class="border-[#A0A4B8]"/>
        </div>
    </div>

    <p class="text-[#424F64] mt-3 text-base font-sans font-normal">
        Chỉ có tại Luxstay, hấp dẫn và hữu hạn, book ngay!
    </p>
    
    <div class="relative my-6">
        <div class="slider-promotions h-auto">
            <a href="/home-stay">
                <div class="relative">
                    <img class="w-full h-[283px] pr-2 rounded-2xl "
                         src="_content/GoStay.Seli/images/imgHomePage/promotion1.png" alt=""/>
                </div>
            </a>
            <a href="/home-stay">
                <div class="relative">
                    <img class="w-full h-[283px]  pr-2 rounded-2xl "
                         src="_content/GoStay.Seli/images/imgHomePage/promotion2.png" alt=""/>
                </div>
            </a>
            <a href="/home-stay">
                <div class="relative">
                    <img class="w-full h-[283px]  pr-2 rounded-2xl "
                         src="_content/GoStay.Seli/images/imgHomePage/promotion3.png" alt=""/>
                </div>
            </a>
        </div>
    </div>
</section>

@code {

}