@inject IJSRuntime JSRuntime

<section class="py-6">
    <div>
        <div class="single-item h-40 overflow-hidden md:h-96 -mr-5">
             <img src="_content/GoStay.Seli/images/imgHomePage/SliderHeader1.png" class="pr-5" alt="...">
             <img src="_content/GoStay.Seli/images/imgHomePage/SliderHeader2.png" class="pr-5" alt="...">
             <img src="_content/GoStay.Seli/images/imgHomePage/SliderHeader3.png" class="pr-5" alt="...">
             <img src="_content/GoStay.Seli/images/imgHomePage/SliderHeader4.png" class="pr-5" alt="...">
        </div>
    </div>
</section>


@code
{

}
